img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.company-title {
  display: flex;
}

.company-title > div {
  font-size: 2rem;
  margin: 0 0 1.5rem 1rem;
}

.description {
  max-width: 800px;
}

div {
  margin-bottom: 5px;
}