<button routerLink="/jobs">Back</button>
<div class="company-title">
  <img
    [src]="detailedJob.companyLogo"
    [alt]="detailedJob.companyName + ' logo'"
  />
  <div>{{ detailedJob.companyName }} - {{ detailedJob.title }}</div>
</div>
<div>
  Industries:
  <span [innerHTML]="detailedJob.industries"></span>
</div>
<div>Published: {{ detailedJob.publishDate | date : "shortDate" }}</div>
<div>Location: {{ detailedJob.location }}</div>
<div>Reference: {{ detailedJob.reference }}</div>
<div>
  Description:
  <div [innerHTML]="detailedJob.description"></div>
</div>
