@if(detailedJob.id) {
<button routerLink="/jobs">Back</button>
<div class="company-title">
  <img
    [src]="detailedJob.companyLogo"
    [alt]="detailedJob.companyName + ' logo'"
  />
  <div>
    {{ detailedJob.companyName }} -
    {{ detailedJob.title }} @if(detailedJob.favorite) {
    <span id="star-{{ detailedJob.id }}" class="icon-star spin"></span>
    }
  </div>
</div>
<div>
  Industries:
  <span [innerHTML]="detailedJob.industries | join"></span>
</div>
<div>
  Types:
  <span [innerHTML]="detailedJob.types | join"></span>
</div>
<div>Published: {{ detailedJob.publishDate | date : "shortDate" }}</div>
<div>Location: {{ detailedJob.location }}</div>
<div>Reference: {{ detailedJob.reference }}</div>
<div class="description">
  Description:
  <div [innerHTML]="detailedJob.description"></div>
</div>
}
