<ng-container *ngFor="let job of allJobs">
  <div class="job-shell">
    <img [src]="job.companyLogo" [alt]="job.companyName + ' logo'" />
    <div>{{ job.title }}</div>
    <div>Company: {{ job.companyName }}</div>
    <div>Reference: {{ job.reference }}</div>
    @if(showStar) {
    <span
      (click)="
        !job.favorite
          ? favoriteJobsService.setFavorite(job)
          : removeClassAndFavorite(job)
      "
      id="star-{{ job.id }}"
      class="icon-star"
      [ngClass]="job.favorite ? 'active-star' : ''"
    ></span>
    }

    <br />
  </div>
</ng-container>
